<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BabyLingual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
    <ion-card class="welcome-card" color="primary">
      <ion-card-header>
        <ion-card-title>Welcome to BabyLingual!</ion-card-title>
        <br>
        <img src="/assets/BabyLingual.jpg" alt="Image Unavailable"/>
      </ion-card-header>
      <ion-card-content>
        <p>BabyLingual brings society closer together by teaching children new languages. Just scan the baby lingual cards provided to hear the how the words are said in different languages.</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-card-content>
        <ion-list lines="none">
          <ion-list-header>
            <ion-label>Words</ion-label>
          </ion-list-header>
          <ion-item (click)="onClickItem('Apple')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Apple/Appel</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Baby')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Baby/Baba</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Ball')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Ball/Bal</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Banana')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Banana/Piesang</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Bear')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Bear/Beer</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Bee')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Bee/By</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Bicycle')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Bicycle/Fiets</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Bird')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Bird/Voël</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Boy')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Boy/Seuntjie</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Cake')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Cake/Koek</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Car')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Car/Kar</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Cat')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Cat/Kat</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Cow')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Cow/Koei</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Daddy')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Daddy/Pappa</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Dog')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Dog/Hond</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Doll')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Doll/Pop</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Duck')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Duck/Eend</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Giraffe')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Giraffe/Kameelperd</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Girl')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Girl/Dogtertjie</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Grandma')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Grandma/Ouma</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Grandpa')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Grandpa/Oupa</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Hand')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Hand/Hand</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Lion')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Lion/Leeu</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Mommy')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Mommy/Mamma</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Nose')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Nose/Neus</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Pig')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Pig/Vark</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Sheep')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Sheep/Skaap</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Shoes')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Shoes/Skoene</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Snake')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Snake/Slang</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Sun')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Sun/Son</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Teeth')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Teeth/Tande</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Toothbrush')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Toothbrush/Tandeborsel</ion-label>
          </ion-item>
          <ion-item (click)="onClickItem('Tree')">
            <ion-icon slot="start" color="medium" name="arrow-dropright"></ion-icon>
            <ion-label>Tree/Boom</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
